.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 100, 255, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 200, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 21, 21, 0.5);
}

@media(max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}